.ContenedorDerechoLI{

	width: 30%;
	height: calc(100vh - 50px);
	overflow: hidden;
	background-color: #fff;
	float: left;
	display: inline-block;
	color: #000;
	border-right: solid 1px #e0e0e0;
}

.ContenedorIzquierdoLI{
	width: 70%;
	height: calc(100vh - 50px);
	overflow: hidden;
	background-color: #fff;
	float: left;
	display: inline-block;
	color: #000;
	border-right: solid 1px #e0e0e0;
	background-color: rgba(245,245,245,1);
}

.ContenedorDerechoTitulo{
	width: 100%;
	text-align: center;
	color:rgba(41, 128, 185,1.0);
	padding: 10px;
	font-size: 18px;
	border-bottom: solid 1px #e0e0e0;
	min-height: 45px;
	max-height: 45px;
}

.ContenedorIzquierdoEncabezado{
	width: 100%;
	border-bottom: solid 1px #e0e0e0;
	height: 45px;
	min-height: 45px;
	max-height: 45px;
	background-color: #fff;
}

.BuscarRemitente{
	width: 100%;
	height: 60px;
	display: inline-block;
	border-bottom: solid 1px #e0e0e0;
}

.OrdenarPor{
	width: 100%;
	height: 60px;
	display: inline-block;
	border-bottom: solid 1px #e0e0e0;
}

.OrdenarPor div{
	float: left;
	padding-left: 20px;
	padding-top: 22px;
}

.selectOrdenar{
	float: right;
	width: 60%;
	padding: 8px;
	border-style: none;
	border:solid 1px #e0e0e0;
	margin-top: 11px;
	margin-right: 20px;
}

.ListUsers{
	overflow-y: auto;
	overflow-x: hidden;
	overflow: 
	width: 100%;
	height: calc(100vh - 217px);
	margin-top: -5px;

}


.imgIdUser{
	width: 40px;
	height: 40px;
	display: inline-block;
	float: left;
}

.idUser ul li #NameUser{
padding: 10px;
margin-left: 40px;
cursor: pointer;
color: #000;
 }

 .idUser ul li:hover{
background-color: rgba(224,224,224,1);
 }

  .idUser ul li:active{
	background-color: rgba(189,189,189,1);
 }

 .idUser ul li{
 	margin-bottom: 0px;
 	width: 100%;
 	background-color: transparent;

 }

.imgIdUser img{
	width: 100%;
	height: 100%;
	border-radius: 50% 50%;
}

/*  ------------------------------------------------------------------------------------------------------- */
.ChatsInOut{
	/* background: orange; */
	width: 100%;
	height: calc(100vh - 138px);
	overflow-y: auto;
}

.ChatRemitente{
	width: 50%;
	margin: 15px;
	float: left;

}

.ChatRemitente .ContainerImgUserChat{
	width: 40px;
	height: 40px;
	float: left; 
}

.ChatRemitente .ContainerImgUserChat img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.MensageRemitente{
	background: rgba(51,51,51,1.0);
	margin-left: 55px;
	color: #fff;
	padding: 10px;
	border-radius: 7px;
	min-height: 60px;
}


.trianguloRemitente {
     width: 0; 
     height: 0; 
     border-right: 18px solid rgba(51,51,51,1.0);
     border-top: 18px solid transparent;
     border-bottom: 18px solid transparent; 
     float: left;
     margin-top: 3px;
}

.ChatsInOut .Date{
	width: 100%;
	text-align: right;
	font-style: italic;
	font-size: 12px;
}

/*  ------------------------------------------------------------------------------------------------------- */


.ChatDestinatario{
	width: 50%;
	margin: 15px;
	float: right;
}

.ChatDestinatario .ContainerImgUserChat{
	width: 40px;
	height: 40px;
	float: right; 
}

.ChatDestinatario .ContainerImgUserChat img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.MensageDestinatario{
	background: rgb(0, 120, 215);
	margin-right: 55px;
	color: #fff;
	padding: 10px;
	border-radius: 7px;
	min-height: 60px;
}


.trianguloDestinatario {
     width: 0; 
     height: 0; 
     border-left: 18px solid rgb(0, 120, 215);
     border-top: 18px solid transparent;
     border-bottom: 18px solid transparent; 
     float: right;
     margin-top: 3px;
 }


/*  ------------------------------------------------------------------------------------------------------- */
.EnviarChat{
	width: 100%;
	
}

.ChatWrite{
	width: calc(100% - 130px);
	padding: 10px;
	font-size: 16px;
	border:none;
	display: inline-block;
	float: left;
	border-top: 2px solid #00bcd4;
	border-left: 2px solid #00bcd4;
}

.SubmtSend{
	width: 130px;
	padding: 11px;
	background-color: rgba(41, 128, 185,1.0);
	border-style: none;
	font-size: 17px;
	color: #fff;
	cursor: pointer;
}

.SubmtSend:hover{
	background-color: rgba(52, 152, 219,1.0);
}

.SubmtSend:active{
	background-color: rgba(52, 152, 219,0.7);
}

/*  ------------------------------------------------------------------------------------------------------- */

.BuscarRemitente{
	padding: 10px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.BuscarRemitente .iconSearch{
width: 55px;
min-width: 55px;
padding:11px;
background-color: #fff;
border-right: 2px solid rgba(41, 128, 185,1.0);
float: left;
display: inline-block;
border-bottom: solid 1px #e0e0e0;
border-left: solid 1px #e0e0e0;
border-top: solid 1px #e0e0e0;
text-align: center;
max-height: 46px;
min-height: 45px;
color: rgba(41, 128, 185,1.0);
}

html[data-useragent*='Firefox'] .BuscarRemitente .iconSearch { /*  propiedad para mozilla */

	max-height: 47px;
}

.BuscarRemitente .textSerch{
	width: calc(100% - 55px);
	padding: 11px;
	margin-left: 0px;
	font-size: 14px;
	border:none;
	font-size: 16px;
	border-bottom: solid 1px #e0e0e0;
	border-right: solid 1px #e0e0e0;
	border-top: solid 1px #e0e0e0;
}