input[type="radio"]{
	display: none;
}

/* ------------------------------------------------------------------------------------------------------------------- */

.MonografiaObservaciones{
	width: calc(100% - 50px);
	margin-top: 0px;
	background-color: #8ec06c;
	position: absolute;
	z-index: -3;
	height: 60px;
	max-height: 60px;
	margin-top: 0px;
	overflow: hidden;

}

.MonografiaRecomendaciones{
	width: calc(100% - 50px);
	background-color: #1abc9c;
	position: absolute;
	z-index: -2;
	height: 60px;
	max-height: 60px;
	margin-top: 60px;
	overflow: hidden;
}



.MonografiaConsulta{
	width: calc(100% - 50px);
	margin-top: 200px;
	background-color: #00BCD4;
	position: absolute;
	z-index: -1;
	height: 60px;
	max-height: 60px;
	margin-top: 120px;
	overflow: hidden;
}


/* ------------------------------------------------------------------------------------------------------------------- */

#MonografiaConsultaRadio:checked ~ .MonografiaConsulta {
	transition: all 0.5s;
	height: calc(100vh - 120px);
	min-height: calc(100vh - 170px);
	z-index: -1;
}

#MonografiaObservacionesRadio:checked ~ .MonografiaObservaciones {
	transition: all 0.5s;
	height: calc(100vh - 120px);
	min-height: calc(100vh - 170px);
	z-index: -1;
	margin-top: 120px;
}

#MonografiaRecomendacionesRadio:checked ~ .MonografiaRecomendaciones {
	transition: all 0.5s;
	height: calc(100vh - 120px);
	min-height: calc(100vh - 170px);
	z-index: -1;
	margin-top: 120px;
}

/* ------------------------------------------------------------------------------------------------------------------- */



#MonografiaRecomendacionesRadio:checked ~ .MonografiaConsulta  {
	z-index: -2;
	height: 60px;
	max-height: 60px;
	margin-top: 60px;
}

#MonografiaObservacionesRadio:checked ~ .MonografiaConsulta  {
	z-index: -3;
	height: 60px;
	min-height: 60px;
	max-height: 60px;
	margin-top: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------- */

 #TamLabel{
	font-size: 20px;
	overflow: hidden;
	/* background-color: black; */
	padding-left: 30px;
	padding-right: 1900px;
	cursor: pointer;
	padding-bottom: 28px;
	
}

html[data-useragent*='Chrome'] .MonografiaObservaciones #TamLabel { /*  propiedad para mozilla */
padding-right: 1050px;
}


/* ------------------------------------------------------------------------------------------------------------------- */

.ContenedorAllItems{
	height: calc(100vh - 247px);
	overflow: auto;
	margin-top: -40px;
}

html[data-useragent*='Chrome'] .ContenedorAllItems { /*  propiedad para Safari */
	height: calc(100vh - 247px);
}

html[data-useragent*='Edge'] .ContenedorAllItems { /*  propiedad para Safari */
	height: calc(100vh - 246px);
}


/* Estilos para el area de consultas*/

.ConsultaProgreso{
	text-align: center;
	width: 100%;
	overflow: hidden;
	
}



.ConsultaProgreso ul li{
	text-align: center;
	width: 90px;
	max-width: 90px;
	height: 40px;
	max-height: 40px;
	display: inline-block;
	background-color: transparent;
	

}
.ConsultaProgreso .material-icons{
	color: #fff;
	font-size: 28px;
	/* text-decoration: line-through; */
	cursor: pointer;

}


.MonografiaConsulta label p{ /* Esta propiedad hace que los titulos se centren en el label */
	margin-top: -10px;
	margin-left: 55px;
}

.MonografiaRecomendaciones label p{ /* Esta propiedad hace que los titulos se centren en el label */
	margin-top: -10px;
	margin-left: 55px;
}

.MonografiaObservaciones label p{ /* Esta propiedad hace que los titulos se centren en el label */
	margin-top: -10px;
	margin-left: 55px;
}

/* ------------------------------------------------------------------------------------------------------------------- */
.AgregarConsultaForm{
	display: none;
}

#cancelCon:checked ~ .AgregarConsultaForm{
	transition: all 0.8s;
	display: block;
}

.AgregarConsulta{
	float: right;
	margin-top: -70px;
	margin-right: 70px;
	max-width: 80px;
	cursor: pointer;
	line-height: 0px;
	display: none;
}

.AgregarConsulta .material-icons{
	font-size: 30px;
	padding: 10px;
	padding-top: 5px;

}

.AgregarConsulta span{
	margin-left: -8px;
	width: 70px;
	max-width: 70px;
	font-size: 17px;


}

.AgregarConsulta:hover{
	transition: all 0.2s;
	color: rgba(255,202,40,1);

}


.AgregarConsulta:active{
	
	color: rgba(255,236,179,1);

}


html[data-useragent*='Mozilla'] .AgregarConsulta { /*  propiedad para mozilla */
margin-top: -40px;
}

html[data-useragent*='Edge'] .AgregarConsulta { /*  propiedad para mozilla */
margin-top: -70px;
}

html[data-useragent*='Chrome'] .AgregarConsulta { /*  propiedad para mozilla */
margin-top: -70px;
}

#MonografiaConsultaRadio:checked ~ .AgregarConsulta {
	display: block;
}

#MonografiaConsultaRadio:checked ~ .MonografiaConsulta .AgregarConsulta{
	display: block;
}


/* ------------------------------------------------------------------------------------------------------------------- */

.ConsultaMensajes{
	width: 39%;
	margin-left: 5%;
	margin-right: 5%;
	
	display: inline-block;
	vertical-align: top;


}
.ConsultaMensajesSend{
	margin: 25px;
	background-color: #fff;
	width: 90%;
	min-width: 90%;
	min-height: 60px;
	box-shadow: 0px 2px 10px rgba(0,0,0,.3);
}

.ConsultaMensajesSend p{
	padding: 15px;
	color: #000;
	text-align: justify;
	
}

.PictureFile{
	max-height: 100px;
	max-width: 100px;
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	clear: both;

}

.PictureFile img{
	max-height: 100px;
	max-width: 100px;
}


.ConsultaMensajes .MensagePersona{
	background-color: #2ecc71;
	color: rgba(239,235,233,1);
	width: 100%;
	min-height: 48px;
	height: 48px;
	text-align: center;
	
}

.ConsultaMensajes .MensagePersona .picture{
	height: 40px;
	width: 40px;
	float: left;
	margin-left: 20px;
	margin-top: 3px;
	
}

.ConsultaMensajes .MensagePersona .picture img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	
}

.ConsultaMensajes .MensagePersona h3{
	font-size: 16px;
	font-weight: normal;
	padding: 12px;
	font-weight: bold;
	float: left;
}

.VerDetalleConsulta{
	
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin-right: -20px;
}

.VerDetalleConsulta:hover{
	color: rgba(238,238,238,1);
}

.VerDetalleConsulta:active{
	color: rgba(224,224,224,1);
}

.VerDetalleConsulta .material-icons{
	display: inline-flex;
    vertical-align: middle;
    margin-top: 12px;
    margin-right: 12px;

}

.ConsultaMensajes .MensagePersona p{

	font-size: 11px;
	display: inline-block;
	float: right;
	color: #fff;
	font-style: italic;

}

/* ------------------------------------------------------------------------------------------------------------------- */

.AgregarConsultaForm{
	width: calc(100% - 50px);
	bottom: 0;
	background: #fff;
	position: fixed;
	z-index: -1;
	color: #000;
	box-shadow: 0px 2px 10px rgba(0,0,0,.3);
	height: 84px;
	
	
}

 .ContainerNewMessage{
	width: 100%;
	margin: 0 auto;
}

#TextMessage{
	border-style: none;
	width: calc(100% - 150px);;
	height: 84px;
	border-top: 2px solid #00bcd4;
	padding: 10px;
    
}

#SendMessage{
	display: none;

}

#LabelSend{
	
	color: #fff;
	width: 150px;
	padding: 6.5px;
	background-color: #3498db;
	display: inline-block;
	
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	padding-right: 12px;
	margin-bottom: 20px;
	

	
}

#LabelSend:hover{
	background-color: #039be5;
}

#LabelSend:active{
	background-color: #0277bd;
}


#file{
	display: none;
}

#UploadFile{
	
	color: #fff;
	width: 75px;
	padding: 6.5px;
	background-color: #515151;
	display: inline-block;
	float: right;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	padding-right: 5px;

	
}

#UploadFile:hover{
background-color: rgba(51,51,51,0.7);
}

#UploadFile:active{
background-color: rgba(51,51,51,0.9); 
}

#cancelCon{
	display: none;
}

#CanselInsert{
	
	color: #fff;
	width: 75px;
	padding: 6.5px;
	background-color: rgba(239,83,80,1);
	display: inline-block;
	float: right;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	padding-right: 5px;

	
}

#CanselInsert:hover{
background-color: rgba(239,83,80,0.8);
}

#CanselInsert:active{
background-color: rgba(239,83,80,0.9); 
}

.ContenedorBotonesConsulta{
	float: right;
	width: 150px;
}


/* ------------------------------------------------------------------------------------------------------------------- */


.ConsultaProgreso ul li ul{ /* Estilos del contenedor de el Toltip */
	display: none;
	position: absolute;
	background-color: rgba(245,245,245,1);
	width: 300px;
	border:2px;
	border-style: solid;
    border-color: #f1c40f;
    border-radius: 5px;
    color: #000;
    margin-left: -119px;
    margin-top: 8px;
}

.ConsultaProgreso ul li ul li{
	width: 300px;
	max-width: 300px;
}

.ConsultaProgreso ul li:hover > ul{ /* Hace que el Toltip Aparezca */
	transition: all 0.9s;
	display: block;
}

.ConsultaProgreso ul li:hover > .material-icons{ /* Aplica el efecto de aumento y tancicion al circulo */
	transition: all 0.3s;
	font-size: 40px;
	margin-top: -12px;
	color: rgba(255,202,40,1);
	cursor: pointer;
}

.ToltipConsulta p{
	float: left;
	font-size: 14px;
}

.PictureToltip{ /* Propiedades del contenedor de las imagenes de usuarios contenidas en el tiltip */
	width: 30px;
	height: 30px;
	float: right;
	margin-top: -7px;
	margin-left: 5px;
}

.PictureToltip img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.ToltipTriangulo{ /* Estilos del triangulo superios q une el toltip con el circulo */
	 width: 0;
     height: 0;
     border-right: 18px solid transparent;
     border-top: 18px solid transparent;
     border-left: 18px solid transparent;
     border-bottom: 18px solid  #f1c40f;
     margin: 0 auto;
     margin-top: -38px;

}


/* ------------------------------------------------------------------------------------------------------------------- */


