.Menu_Plantilla{
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: rgba(51,51,51,0.8);
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
}

.Menu_Plantilla ul{
	text-align: right;
}


.Menu_Plantilla li{
	background-color: transparent;
	padding: 10px;
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
  }

.Menu_Plantilla li:hover{
	background-color: rgba(51,51,51,0.9);
}

.Menu_Plantilla li:active{
	background-color: rgba(51,51,51,0.4);
}

.Menu_Plantilla a{
	padding: 18px;
}

.Hamburger{
	float: left;
	padding: 10px;
	cursor: pointer;
}

.arrows{
	float: right;
	padding: 10px;
	padding-left: 18px;
	padding-right: 18px;
	cursor: pointer;
}

label i{
	cursor: pointer;
}

.Hamburger:hover{
	background-color: rgba(51,51,51,0.9);
}

.Hamburger:active{
	background-color: rgba(51,51,51,0.4);
}

.arrows:hover{
	background-color: rgba(51,51,51,0.9);
}

.arrows:active{
	background-color: rgba(51,51,51,0.4);
}

.MenuLateral{
	-webkit-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

	transition: all 0.3s;
	-webkit-transition: all 0.3s;
    transform: translateX(-350px);
	
	width: 350px;
	background-color: rgba(51,51,51,0.8);
	height: calc(100vh - 50px);
	position: fixed;

    overflow: hidden;
    overflow-y: auto;
}

html[data-useragent*='Firefox'] .MenuLateral a { /*  propiedad para mozilla */
	overflow: hidden;
    overflow-y: auto;
}

.MenuLateral ul{
	display: block;
	background-color: transparent;
}

.MenuLateral li{
	display: inline-block;
	background-color: transparent;
	width: 100%;
	min-width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
}

.MenuLateral li:hover{
	background-color: rgba(51,51,51,0.9);
}

.MenuLateral li:active{
	background-color: rgba(51,51,51,0.4);
}


html[data-useragent*='Firefox'] .MenuLateral a { /*  propiedad para mozilla */
	padding: 25px;
	padding-right: 255px;
	display: inline-flex;
    vertical-align: middle;
    max-height: 15px;
    padding-bottom: 45px;
}

html[data-useragent*='NT'] .MenuLateral a { /*  Microsoft edge y internet explorer */
	padding: 25px;
	padding-left: 0px;
	padding-right: 255px;
	display: inline-flex;
    vertical-align: middle;
    max-height: 15px;
    padding-bottom: 45px;

}

html[data-useragent*='Chrome'] .MenuLateral a { /*  propiedad para mozilla */
	padding: 25px;
	padding-left: 5px;
	padding-right: 255px;
	display: inline-flex;
    vertical-align: middle;
    max-height: 15px;
    padding-bottom: 45px;
}

html[data-useragent*='iPad'] .MenuLateral a { /*  propiedad para mozilla */
	padding: 25px;
	padding-left: 5px;
	padding-right: 255px;
	display: inline-flex;
    vertical-align: middle;
    max-height: 15px;
    padding-bottom: 45px;
}

.MenuLateral span{
	padding-left: 12px;
}

#toggle, #graficos{
	display: none;
} 


#toggle:checked ~ .MenuLateral {

	transition: all 0.3s;
    transform: translateX(0px);

}

#graficos:checked ~ .MunuDerecho {

	transition: all 0.3s;
    transform: translateX(0px);

}

.MunuDerecho{
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

	width: 350px;
	background-color: rgba(51,51,51,0.8);
	height: calc(100vh - 50px);
	position: fixed;

    overflow: hidden;
    overflow-y: auto;
    float: right;
    right: 0;

    transition: all 0.3s;
	-webkit-transition: all 0.3s;
    transform: translateX(300px);
}


.EstadoAvences{
	width: 50px;
	max-width: 50px;
	overflow-x: hidden;
	padding: 9px;
	display: inline-block;
	height: calc(100vh - 55px);
}

.DetalleAvances{
	padding: 5px;
	padding-right: 10px;
	width: 290px;
	display: inline-block;
	float: right;
	text-align: justify;

}

html[data-useragent*='NT'] .DetalleAvances { /*  propiedad para mozilla */
	width: 270px;
}


html[data-useragent*='Firefox'] .DetalleAvances { /*  propiedad para mozilla */
	width: 287px;
}


html[data-useragent*='Chrome'] .DetalleAvances { /*  propiedad para mozilla */
	width: 290px;
}




.BootomItems{
	bottom: 0;
	position: fixed;
}


.ContenidoFiles{
	margin-top: 50px;
	width: calc(100% - 50px);
}

.EstadoV{
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	margin-top: 20px;
	margin-left: 6px;
	
}

html[data-useragent*='Edge'] .EstadoV { /*  propiedad para mozilla */
	top:0;
	position: fixed;
	clear: both;
}

html[data-useragent*='Edge'] .EstadoAvences  { /*  propiedad para EDge */
	display: none;
}

.EstadoAvences .material-icons{
margin-left: 6px;
}

.GraficoR{
	 writing-mode: vertical-lr;
	 transform: rotate(180deg);
	 margin-left: 6px;
	
}

.DetalleAvances .material-icons{
	font-size: 240px;
	bottom: 0;
	position: fixed;
}

.PublicIcon{
	padding: 10px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 18px;
	cursor: pointer;
}

.PublicIcon:hover{
	background-color: rgba(51,51,51,0.9);
}

.PublicIcon:active{
	background-color: rgba(51,51,51,0.4);
}