<ul>
			<li ng-repeat="post in posts">
				<h2>{{post.title}}</h2>
				<p>{{post.body}}</p>
			</li>
</ul>
	

<aside>
<div class="containerIniReg">
	<div class="Tabs">

	<input type="radio" class="vbn">
	
	<label for="toggle" class="LoguinView">Iniciar Sesión</label>
	<label for="toggle2" class="RegistroView">Registrarse</label>

	</div>
			<article class="loguin">
				<input type="radio" id="toggle" name="tabs" checked>

<div class="to-be-changed">
	<form action="">
					<h2>Iniciar sesión</h2>
					<div class="inputCont">
					<input type="email" id="inputEmail" placeholder="Email" required autofocus class="text">
					<input type="password" id="inputPassword" placeholder="Contraseña" required class="text">
					</div>
					
					<div class="ContainerRecordar">
					<input type="checkbox" id="Recordar">
                    <label for="Recordar"><div id="DivRecordar">✓</div>Recordar mis datos</label>
					</div>

					<a href="recuperar_contrasenia.html"><p>No puedo iniciar sesión</p></a>
					<input type="submit" value="Iniciar" class="submit" id="Start">
				</form>
</div>
<input type="radio" id="toggle2" name="tabs">
<div class="to-be-changed2">
	<form action="" id="FormRegistro">
					<h2>Registrarse</h2>
					<div class="inputCont">

					<input type="text"  placeholder="Nombres" required autofocus class="text">
					<input type="text" placeholder="Apellidos" required class="text">
					<input type="text"  placeholder="Número de carnet" required autofocus class="text">
					<input type="email" placeholder="Correo electrónico" required class="text">
					<input type="tel" placeholder="Telefon/Celular" required class="text">

					</div>
					<input type="submit" value="Registrarse" class="submit" id="Start2">
				</form>
</div>
			</article>
</div>
		</aside>