<a href="templates/plantilla.html">CARGAR LA PLANTILLA</a>

<div class="FormaCulminacion"   ng-controller="IndexController">

	<div class="fullContent" ng-show="loading"> Cargando... </div>

		<ul id ="slider-container" ng-hshow="posts.length > 0" class="animated">
			<div  id ="slider-box">
			<li  ng-repeat="post in posts | limitTo:3" class="slider-element">
				
				
				<h2>{{post.name}}</h2>
				<p>{{post.note}}</p>
				
			</li>
			</div>
		</ul>
	</div>

	

<aside>
<div class="containerIniReg">
	<div class="Tabs">

	<input type="radio" class="vbn">
	
	<label for="toggle" class="LoguinView">Iniciar Sesión</label>
	<label for="toggle2" class="RegistroView">Registrarse</label>

	</div>
			<article class="loguin">
				<input type="radio" id="toggle" name="tabs" checked>

<div class="to-be-changed">
	<form action="">
					<h2>Iniciar sesión</h2>
					<div class="inputCont">
					<input type="email" id="inputEmail" placeholder="Email" required autofocus class="text">
					<input type="password" id="inputPassword" placeholder="Contraseña" required class="text">
					</div>
					
					<div class="ContainerRecordar">
					<input type="checkbox" id="Recordar">
                    <label for="Recordar"><div id="DivRecordar">✓</div>Recordar mis datos</label>
					</div>

					<a href="#/recuperar/"><p>No puedo iniciar sesión</p></a>
					<a href="plantilla.html"><input type="submit" value="Iniciar" class="submit" id="Start"></a>
				</form>
</div>
<input type="radio" id="toggle2" name="tabs">
<div class="to-be-changed2">
	<form action="" id="FormRegistro">
					<h2>Registrarse</h2>
					<div class="inputCont">

					<input type="text"  placeholder="Nombres" required autofocus class="text">
					<input type="text" placeholder="Apellidos" required class="text">
					<input type="text"  placeholder="Número de carnet" required autofocus class="text">
					<input type="email" placeholder="Correo electrónico" required class="text">
					<input type="tel" placeholder="Telefon/Celular" required class="text">

					</div>
					<input type="submit" value="Registrarse" class="submit" id="Start2">
				</form>
</div>
			</article>
</div>
		</aside>

<footer><div class="container"><h3>Facultad de Ciencias y Sistemas</h3></div></footer>