
    <link rel="stylesheet" href="css/recuperar_contrasenia.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">



	<div class="ContainerInformation">
		
		<input type="radio" id="toggle1" name="tabs" checked>
		<div class="Correo" >
			<form action="">

				<a href="#/"><i class="fa fa-chevron-left"></i> Atrás</a>
				<a href="sigece"><label for="inputBottom">Enviar <i class="fa fa-chevron-right"></i></label></a>
				<input id="inputBottom" class="submit" type="submit" >

			   <input id="input" type="email" placeholder="usuario@uni.com" required>
			   <label id="label" for="">Ingrese su correo electrónico</label>
			
			</form>
		</div>


		<input type="radio" id="toggle2" name="tabs" >
		<div class="PreguntaSeguridad" >
			<form action="">
		    <a href="#/"><i class="fa fa-chevron-left"></i> Atrás</a>
		    <a href="sigece"><label for="inputBottom2">Enviar <i class="fa fa-chevron-right"></i></label></a>
		    <input id="inputBottom2" class="submit" type="submit">
			<input id="input" type="text" placeholder="Ingrese su respuesta" required>
			<label id="label" for="">Cuántas estrellas hay en el universo?</label>
			</form>
		</div>


		<input type="radio" id="toggle3" name="tabs" >
		<div class="Contactanos" >
			<form action="">
			<a href="#/"><i class="fa fa-chevron-left"></i> Atrás</a>
		    <a href="sigece"><label for="inputBottom3">Enviar <i class="fa fa-chevron-right"></i></label></a>
			<input id="inputBottom3" class="submit" type="submit">

			<input id="input" type="text" placeholder="Ingrese su consulta" required>
			<label id="label" for="">Contáctanos</label>

			</form>
		</div>

	</div>

	<div class="ContainerOptions">

		<h2 id="title">Formas de recuperación de credenciales de acceso.</h2>

		<a href="sigece"><label id="opc1" for="toggle1">Correo</label></a>
		<a href="sigece"><label id="opc2" for="toggle2">Pregunta de seguridad</label></a>
		<a href="sigece"><label id="opc3" for="toggle3">Contactar a administrador</label></a>

		
	</div>
	
