<link rel="stylesheet" href="../css/tesis/feedback.css">

<div class="ContainerAllFeedback">
	
	 <div class="contenttext"> 
                       
                        <form action="" class="ContainerNewFeedback">
                            
                            <div class="ContainerElementsFeedback">
                                <h2>Nuevo Feedback</h2>
                                <p>¿Qué tipo de feedback es?</p>
                       

                                
                                    <input id="UploadPicture" type="file" name="upload" accept="image/jpg,image/png"/>
                                    <label  id="Labelupload" for="UploadPicture"><i class="material-icons">backup</i> Subir Imagen</label>


                                <div class="ContainerOpciones">
                                <input type="checkbox" id="sugerencia">
                                <label for="sugerencia"><div id="DivSugerencia">✓</div>Sugerencia</label>

                                <input type="checkbox" id="problema">
                                <label for="problema"><div id="DivProblem">✓</div>Problema</label>

                                </div>

                                <textarea placeholder="Descripsion" required id="description"></textarea>


                                <p id="elegir">Elija una categoría y subcategoría para facilitar la búsqueda de su feedback</p>

                                <select class="selectModul">
                                      <option value="None">No se ha especificado</option>
                                      <option value="Apellidos">Modulo</option>
                                      <option value="TipoUser">Modulo</option>
                                      <option value="Alfabetico">Modulo</option>
                                </select>

                                  <select class="selectModul">
                                      <option value="None">No se ha especificado</option>
                                      <option value="Apellidos">Modulo </option>
                                      <option value="TipoUser">Modulo</option>
                                      <option value="Alfabetico">Modulo</option>
                                </select>
                                 <input type="submit" value="Enviar Feedback" class="SendFeedback">
                            </div>
                           
                            <a href="#" ></a>
                           
                        </form>

                </div>

</div>
