<link rel="stylesheet" href="../css/tesis/grupos.css">



<div class="ContenedorDerechoLI">

	<div class="ContenedorDerechoTitulo">Contactos</div>

	 <div class="OrdenarPor">
       <div>Ordenar Por:</div> 
       	<select class="selectOrdenar">
		  <option value="Nombres">Nombres</option>
		  <option value="Apellidos">Apellidos</option>
		  <option value="TipoUser">Tipo de Usuario</option>
		  <option value="Alfabetico">Alfabetico</option>
		</select>
    </div>

    <div class="ListUsers">
    		<div class="idUser">
	            <ul>
	                    <li><a href="#/perfilGrupo/"><div class="imgIdUser"><img src="http://st2.depositphotos.com/1004938/6182/v/450/depositphotos_61820287-User-icon.jpg" alt=""></div> <div id="NameUser">Alex José Flores Rivas Rivas</div></a></li>

	                     <li><a href=""><div class="imgIdUser"><img src="http://st2.depositphotos.com/1004938/6182/v/450/depositphotos_61820287-User-icon.jpg" alt=""></div> <div id="NameUser">Néstor Alberto Molina Morán </div></a></li>

	                      <li><a href=""><div class="imgIdUser"><img src="http://st2.depositphotos.com/1004938/6182/v/450/depositphotos_61820287-User-icon.jpg" alt=""></div> <div id="NameUser">Msc. Leonel Antonio Martinez </div></a></li>

	                      <li><a href=""><div class="imgIdUser"><img src="http://st2.depositphotos.com/1004938/6182/v/450/depositphotos_61820287-User-icon.jpg" alt=""></div> <div id="NameUser">Oficina Decanatura </div></a></li>

	                       <li><a href=""><div class="imgIdUser"><img src="http://st2.depositphotos.com/1004938/6182/v/450/depositphotos_61820287-User-icon.jpg" alt=""></div> <div id="NameUser">Docente Revisor </div></a></li>

	                        <li><a href=""><div class="imgIdUser"><img src="http://st2.depositphotos.com/1004938/6182/v/450/depositphotos_61820287-User-icon.jpg" alt=""></div> <div id="NameUser">Equipo Monográfico </div></a></li>

	                         <li><a href=""><div class="imgIdUser"><img src="http://st2.depositphotos.com/1004938/6182/v/450/depositphotos_61820287-User-icon.jpg" alt=""></div> <div id="NameUser">Other User </div></a></li>

	                         <li><a href=""><div class="imgIdUser"><img src="http://st2.depositphotos.com/1004938/6182/v/450/depositphotos_61820287-User-icon.jpg" alt=""></div> <div id="NameUser">Other User </div></a></li>

	                         <li><a href=""><div class="imgIdUser"><img src="http://st2.depositphotos.com/1004938/6182/v/450/depositphotos_61820287-User-icon.jpg" alt=""></div> <div id="NameUser">Other User </div></a></li>



	            </ul>
        	</div>
    </div>


</div>

<div class="ContenedorIzquierdoLI">

	<div class="ContenedorIzquierdoEncabezado">
			<form action="">
                <div class="iconSearch"><i class="material-icons">search</i></div>
                <input type="search" class="textSerch" autofocus placeholder="Número de identificación" required>
                <input type="submit" class="buttonSearch" value="Encontrar">
			</form>
		

	</div>

		<div class="contaierP"><img src="https://cdn1.iconfinder.com/data/icons/MetroStation-PNG/252/MB__search.png" alt=""> <p class="pAnounce">Introduce el número de carnet o ID de la persona que deseas agregara tu equipo de trabajo </p></div>

	</div>

