<link rel="stylesheet" href="../css/tesis/perfilGrupo.css">

<div class="ContenedorPerfilUserGrupo">

	<div class="RegresarEquipos">
		<a href="javascript:window.history.back();">&laquo; <i class="material-icons">arrow_back</i></a>
	</div>
	
	<div class="ContainerElementosPerfil">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia tempore fuga atque aliquam mollitia odio vel cumque commodi aliquid ut ab voluptates quibusdam quia sed natus vitae expedita, aspernatur excepturi.
	</div>

</div>
