<link rel="stylesheet" href="../css/tesis/perfilGrupo.css">

<div class="ContenedorPerfilUserGrupo">

	<div class="RegresarEquipos">
		<a href="javascript:window.history.back();"> <i class="material-icons">arrow_back</i></a>
	</div>
	
	<div class="ContainerElementosPerfil">

		<h2 class="TituloUserGrupo">Detalle del miembro del equipo</h2>

		<div class="ContainerDatosUserGrupos">
			<picture class="PictureUserDatosG">
				<img src="http://soy.impresionesaerea.netdna-cdn.com/images/Noticias/estudiante_emprendedor.jpg">
			</picture>

		<div class="NameUserG">Juana  Herrera Pravia</div>
		<div class="UnivUserG">Recinto Univercitario Agusto C. Sandino</div>
		<div class="CarreraUserG">Ingeniería de Sistemas</div>
			
		</div>

		<div class="OpcionesUsuarioGrupo">
			<div id="OPC1"><a href="#/peticion_abandono_grupo/">Peticion de abandono</a></div>
			<div id="OPC2"><a href="#/mensages/">Enviar Mensaje</a></div>
		</div>

	</div>

</div>
