<link rel="stylesheet" href="../css/tesis/peticion_abandono_grupo.css">

	<div class="ContenedorAbonoEquipo">
		
		<div class="RegresarEquipos">
			<a href="javascript:window.history.back();"> <i class="material-icons">arrow_back</i></a>
		</div>

		<div class="ContainerElementosAbamdonarEquipo">

			<div class="ContainerDatosAbandonoUserG">
				<div class="Titulo">Términos de la petición de abandono</div>

				<div class="TerminosPeticion">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum placeat asperiores expedita animi quae alias veritatis. Dicta molestias perspiciatis ipsa, quas! Provident sequi quisquam eaque facilis asperiores. Aliquid, quod, veritatis. <br><br>

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum placeat asperiores expedita animi quae alias veritatis. Dicta molestias perspiciatis ipsa, quas! Provident sequi quisquam eaque facilis asperiores. Aliquid, quod, veritatis. <br><br>

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum placeat asperiores expedita animi quae alias veritatis. Dicta molestias perspiciatis ipsa, quas! Provident sequi quisquam eaque facilis asperiores. Aliquid, quod, veritatis. <br><br>

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum placeat asperiores expedita animi quae alias veritatis. Dicta molestias perspiciatis ipsa, quas! Provident sequi quisquam eaque facilis asperiores. Aliquid, quod, veritatis. <br><br>

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum placeat asperiores expedita animi quae alias veritatis. Dicta molestias perspiciatis ipsa, quas! Provident sequi quisquam eaque facilis asperiores. Aliquid, quod, veritatis. <br><br>

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum placeat asperiores expedita animi quae alias veritatis. Dicta molestias perspiciatis ipsa, quas! Provident sequi quisquam eaque facilis asperiores. Aliquid, quod, veritatis. <br><br>

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum placeat asperiores expedita animi quae alias veritatis. Dicta molestias perspiciatis ipsa, quas! Provident sequi quisquam eaque facilis asperiores. Aliquid, quod, veritatis. <br><br>

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum placeat asperiores expedita animi quae alias veritatis. Dicta molestias perspiciatis ipsa, quas! Provident sequi quisquam eaque facilis asperiores. Aliquid, quod, veritatis. <br><br>
				</div>
			</div>
			
			<div class="BtnPeticionAbandono">
				<a href="">Enviar Peticion de Abandono</a>
			</div>
		</div>

	</div>

	

